
.myTable{
    color: white;
    margin-top: 80px;
}
.myHead {
    background-color: white;
    height: 55px;
    text-align: center;
   // border : 3px solid black;
   color: white;
    
}

.myTr{
    color: white;
    background-color: #7b2cbf;
    height: 45px;
    text-align: center;
    border: 3px solid #240046;
    font-size: larger;
}


.WhiteTd{
    background-color: white;
    border-color: white;

}